.App {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100vw;
  overflow: hidden;
}
.App-Loading {
  justify-content: center;
  align-items: center;
}
.logged-out {
  width: 100%;
}

@media screen and (max-width: 575px) {
  .App {
    flex-direction: column;
  }
  .nav {
    position: unset;
  }
  .nav-container {
    position: unset;
    flex-direction: row;
    height: auto;
  }
}
