.main {
  width: 512px;
  border-right: 1px solid black;
}

.explore {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-grow: 2;
}
@media screen and (max-width: 849px) {
  .explore {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .main {
    width: 100vw;
  }
}
