.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

@media screen and (max-width: 1024px) {
  .welcome-end {
    display: none;
  }
  .welcome-start {
    width: 100vw;
  }
  .signin__container {
    width: 100%;
    max-width: 612px;
    padding: 0 1rem;
  }
}

.welcome-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
}

.welcome-start .signin__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.welcome-start .signin-header {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.welcome-start .signin-header .signin-header-logo {
  height: 10rem;
  position: relative;
}

.welcome-start .signin-header .signin-header-logo__image {
  width: 3.6rem;
  position: absolute;
  top: 30%;
  left: 0%;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: forward;
          animation-direction: forward;
}

@media screen and (max-width: 1024px) {
  .welcome-start .signin-header .signin-header-logo {
    height: 8rem;
  }
  .welcome-start .signin-header .signin-header-logo__image {
    top: 25%;
  }
}

@media screen and (max-width: 768px) {
  .welcome-start .signin-header .signin-header-logo {
    height: 6rem;
  }
  .welcome-start .signin-header .signin-header-logo__image {
    top: 10%;
  }
}

@media screen and (max-width: 400px) {
  .welcome-start .signin-header .signin-header-logo {
    margin: 1.5rem 0 0.5rem 0;
    height: 4rem;
  }
  .welcome-start .signin-header .signin-header-logo__image {
    bottom: 0;
  }
  .welcome-start .signin-header .signin-header__description p {
    margin: 0;
  }
}

.welcome-start .signin-header .signin-header__title h1 {
  margin: 0.25rem 0;
}

.welcome-start .signin-header .signin-header__description {
  font-weight: normal;
  opacity: 0.6;
}

.break-container {
  margin: 1.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.break-container .break-start {
  border: rgba(0, 0, 0, 0.3) 1px solid;
  width: 100%;
}

.break-container .break-text {
  padding: 0 1.5rem;
  font-size: 0.8rem;
  font-family: "Rubik", sans-serif;
  opacity: 0.3;
  text-align: center;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  white-space: nowrap;
}

.break-container .break-end {
  border: rgba(0, 0, 0, 0.3) 1px solid;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .break-container {
    margin: 0.5rem;
  }
}

.welcome-end {
  height: 100vh;
  width: 100%;
}

.bg {
  background: #3099e9;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.bg .bg_top_left_1 {
  background: #2779b8;
  position: absolute;
  height: 15%;
  width: 10%;
  top: 0;
  left: 0;
}

.bg .bg_top_left_2 {
  background: #2779b8;
  position: absolute;
  height: 7.5%;
  width: 10%;
  top: 0;
  left: 10%;
}

.bg .bg_top_right_row-1_item1__container {
  position: absolute;
  width: 7.5%;
  height: 7.5%;
  overflow: hidden;
  right: 10%;
}

.bg .bg_top_right_row-1_item1__container .r1_i1__box {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #2779b8;
}

.bg .bg_top_right_row-1_item1__container .r1_i1__triangle {
  width: 100%;
  height: 300%;
  position: absolute;
  background: #3099e9;
  left: 0%;
  top: -33%;
  -webkit-transform: rotate(-41deg);
          transform: rotate(-41deg);
}

.bg .bg_top_right_row-1_item2__container {
  position: absolute;
  width: 7.5%;
  height: 7.5%;
  overflow: hidden;
  right: 20%;
}

.bg .bg_top_right_row-1_item2__container .r1_i2__box {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #2779b8;
}

.bg .bg_top_right_row-1_item2__container .r1_i2__triangle {
  width: 100%;
  height: 300%;
  position: absolute;
  background: #3099e9;
  left: 0%;
  top: -33%;
  -webkit-transform: rotate(-41deg);
          transform: rotate(-41deg);
}

.bg .bg_top_right_row-1_item3__container {
  position: absolute;
  width: 7.5%;
  height: 7.5%;
  overflow: hidden;
  right: 30%;
}

.bg .bg_top_right_row-1_item3__container .r1_i3__box {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #2779b8;
}

.bg .bg_top_right_row-1_item3__container .r1_i3__triangle {
  width: 100%;
  height: 300%;
  position: absolute;
  background: #3099e9;
  left: 0%;
  top: -33%;
  -webkit-transform: rotate(-41deg);
          transform: rotate(-41deg);
}

.bg .bg_top_right_row-1_item4__container {
  position: absolute;
  width: 7.5%;
  height: 7.5%;
  overflow: hidden;
  right: 40%;
}

.bg .bg_top_right_row-1_item4__container .r1_i4__box {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #2779b8;
}

.bg .bg_top_right_row-1_item4__container .r1_i4__triangle {
  width: 100%;
  height: 300%;
  position: absolute;
  background: #3099e9;
  left: 0%;
  top: -33%;
  -webkit-transform: rotate(-41deg);
          transform: rotate(-41deg);
}

.bg .bg_top_right_row-2_item1__container {
  position: absolute;
  width: 7.5%;
  height: 7.5%;
  overflow: hidden;
  right: 10%;
  top: 7.5%;
}

.bg .bg_top_right_row-2_item1__container .r2_i1__box {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #2779b8;
}

.bg .bg_top_right_row-2_item1__container .r2_i1__triangle {
  width: 100%;
  height: 300%;
  position: absolute;
  background: #3099e9;
  left: 0%;
  top: -33%;
  -webkit-transform: rotate(-41deg);
          transform: rotate(-41deg);
}

.bg .bg_top_right_row-2_item2__container {
  position: absolute;
  width: 7.5%;
  height: 7.5%;
  overflow: hidden;
  right: 20%;
  top: 7.5%;
}

.bg .bg_top_right_row-2_item2__container .r2_i2__box {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #2779b8;
}

.bg .bg_top_right_row-2_item2__container .r2_i2__triangle {
  width: 100%;
  height: 300%;
  position: absolute;
  background: #3099e9;
  left: 0%;
  top: -33%;
  -webkit-transform: rotate(-41deg);
          transform: rotate(-41deg);
}

.bg .bg_top_right_row-2_item3__container {
  position: absolute;
  width: 7.5%;
  height: 7.5%;
  overflow: hidden;
  right: 30%;
  top: 7.5%;
}

.bg .bg_top_right_row-2_item3__container .r2_i3__box {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #2779b8;
}

.bg .bg_top_right_row-2_item3__container .r2_i3__triangle {
  width: 100%;
  height: 300%;
  position: absolute;
  background: #3099e9;
  left: 0%;
  top: -33%;
  -webkit-transform: rotate(-41deg);
          transform: rotate(-41deg);
}

.bg .bg_top_right_row-2_item4__container {
  position: absolute;
  width: 7.5%;
  height: 7.5%;
  overflow: hidden;
  right: 40%;
  top: 7.5%;
}

.bg .bg_top_right_row-2_item4__container .r2_i4__box {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #2779b8;
}

.bg .bg_top_right_row-2_item4__container .r2_i4__triangle {
  width: 100%;
  height: 300%;
  position: absolute;
  background: #3099e9;
  left: 0%;
  top: -33%;
  -webkit-transform: rotate(-41deg);
          transform: rotate(-41deg);
}

.bg .bg_bottom-right_1 {
  background: #2779b8;
  height: 40%;
  width: 10%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.bg .bg_bottom-right_2 {
  background: #2779b8;
  height: 32%;
  width: 10%;
  position: absolute;
  bottom: 0;
  right: 10%;
}

.bg .bg_bottom-right_3 {
  background: #2779b8;
  height: 24%;
  width: 10%;
  position: absolute;
  bottom: 0%;
  right: 20%;
}

.bg .bg_bottom-right_4 {
  background: #2779b8;
  height: 16%;
  width: 10%;
  position: absolute;
  bottom: 0%;
  right: 30%;
}

.bg .bg_bottom-right_5 {
  background: #2779b8;
  height: 8%;
  width: 10%;
  position: absolute;
  bottom: 0%;
  right: 40%;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.sigin-thirdParties {
  margin: 1.25rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sigin-thirdParties .signin__button__container {
  width: 100%;
}

.sigin-thirdParties .signin__button {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.7rem;
  cursor: pointer;
  border-radius: 25px;
  text-decoration: none;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem 0;
  width: 100%;
  -webkit-transition: border ease-in-out 0.2s;
  transition: border ease-in-out 0.2s;
}

.sigin-thirdParties .signin__button img {
  margin: 0 20px 0 0;
  width: 1rem;
}

.sigin-thirdParties .signin__button i {
  margin: 0 20px 0 0;
  width: 1rem;
}

.sigin-thirdParties .signin__button:hover {
  border: 1px solid black;
}

@media screen and (max-width: 400px) {
  .sigin-thirdParties {
    margin: 0;
  }
}

.signin-form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signin-form__container .signin-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.signin-form__container .signin-form .input__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.5rem 0;
}

@media screen and (max-width: 400px) {
  .signin-form__container .signin-form .input__container {
    margin: 0.2rem;
  }
}

.signin-form__container .signin-form .requiredinput::after {
  content: "*";
  color: #3099e9;
}

.signin-form__container .signin-form label {
  font-family: "Rubik", sans-serif;
  margin: 0 0 0.25rem 0;
}

.signin-form__container .signin-form input,
.signin-form__container .signin-form textarea {
  font-family: "Rubik", sans-serif;
  padding: 0.7rem;
  border-radius: 25px;
  text-decoration: none;
  background: none;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.signin-form__container .signin-form textarea:focus,
.signin-form__container .signin-form input:focus {
  outline: 2px solid #3099e9;
  border: none;
  color: #3099e9;
}

.signin-form__container .signin-form .input-error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 2rem;
}

.signin-form__container .signin-form .input-error p {
  color: #ff5031;
  margin: 0;
  width: 100%;
  font-family: "Rubik", sans-serif;
}

.signin-form__container .signin-form .input-submit {
  margin: 0.5rem 0;
  color: white;
  background: #3099e9;
  border: 1px solid #3099e9;
  padding: 0.7rem;
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
}

@media screen and (max-width: 400px) {
  .signin-form__container .signin-form .input-submit {
    margin: 0rem;
  }
}

.signin-form__container .signin-form .input-submit:hover {
  color: #3099e9;
  background: none;
  border: 1px solid #3099e9;
  cursor: pointer;
}

.signin-form__container .not-registered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.signin-form__container .not-registered .not-registered__question {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.signin-form__container .not-registered .not-registered__question span {
  font-family: "Rubik", sans-serif;
  font-size: 0.8rem;
}

.signin-form__container .not-registered .not-registered__question button {
  font-family: "Rubik", sans-serif;
  font-size: 0.8rem;
  border: none;
  background: none;
  color: #3099e9;
}

.signin-form__container .not-registered .not-registered__question button:hover {
  opacity: 0.5;
}

.madeWithLove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.madeWithLove .madeWithLove__github {
  text-decoration: none;
  color: #1c213f;
  opacity: 1;
  font-family: "Rubik", sans-serif;
  -webkit-transition: opacity ease-in 0.1s;
  transition: opacity ease-in 0.1s;
}

.madeWithLove .madeWithLove__github:hover {
  opacity: 0.5;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-right: 1px solid black;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  padding: 0 1rem;
}

.nav-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2rem;
}

.nav-home {
  color: #3099e9;
  height: 1.5rem;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.nav-home:hover {
  opacity: 0.5;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.NavLink {
  margin: 1.5rem 1rem;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  color: #1c213f;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.NavLink:hover {
  opacity: 0.5;
}

.active {
  font-weight: 500;
}

.nav-end {
  padding: 0.2rem 1rem;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 25px;
  overflow: hidden;
}

.nav-end:hover {
  cursor: pointer;
  opacity: 0.5;
}

.navProfile-link {
  font-family: "Rubik", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  text-decoration: none;
  color: #1c213f;
}

.navProfile-image {
  margin: 0 1rem 0 0;
  height: 2rem;
  border-radius: 50%;
}

.init {
  height: 100vh;
}

.init__container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.init__spinner {
  color: #2779b8;
  font-size: 10rem;
  -webkit-animation: spin;
          animation: spin;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 100vw;
}

.App-Loading {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  width: 512px;
  border-right: 1px solid black;
}

.explore {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.tweetForm__container {
  padding: 1rem;
  border-bottom: 1px solid black;
}

.tweetForm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.tweetForm-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.tweetForm__profileImg {
  border-radius: 50%;
  width: 3rem;
}

.tweetForm-end {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.textInput__container {
  padding: 0.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tweetForm__textInput {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  font-family: "Rubik", sans-serif;
  padding: 0.7rem;
  border-radius: 25px;
  text-decoration: none;
  background: none;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.tweetForm__textInput:focus,
.tweetForm__textInput textarea:focus {
  outline: 2px solid #3099e9;
  border: none;
  color: #1c213f;
}

.textInput__chars {
  padding: 0 0 0 1rem;
}

.textInput__chars span {
  font-family: "Rubik", sans-serif;
}

.image-input__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.image-input__icon {
  font-size: 2rem;
  color: #3099e9;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.image-input__icon:hover {
  opacity: 0.5;
}

#image-input {
  display: none;
}

.tweetForm-attachedImage {
  position: relative;
  overflow: hidden;
}

.tweetForm-attachedImage__content {
  -o-object-fit: fill;
     object-fit: fill;
  max-height: 250px;
  max-width: 333px;
}

.tweetForm-attachedImage__deleteButton {
  padding: 0.7rem;
  border-radius: 25px;
  text-decoration: none;
  background: none;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: white;
  padding: 0.25rem 0.5rem;
  position: absolute;
  top: 5%;
  left: 5%;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.tweetForm-attachedImage__deleteButton:hover {
  opacity: 0.7;
}

.tweetForm__submitButton {
  font-family: "Rubik", sans-serif;
  font-size: 0.8rem;
  padding: 0.7rem;
  border-radius: 25px;
  text-decoration: none;
  background: none;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.5rem 1rem;
  border: 1px solid #3099e9;
  background: #3099e9;
  color: white;
  font-weight: 600;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.tweetForm__submitButton:hover {
  opacity: 0.5;
}

.home-title__container {
  border-bottom: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

.home-title__heading {
  color: #1c213f;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
}

.home-title__icon {
  color: #1c213f;
  font-size: 1.5rem;
}
/*# sourceMappingURL=style.css.map */