.tweetCard {
  display: flex;
  flex-direction: column;
  background: lightgray;
  border-radius: 25px;
  margin: 1rem;
  padding: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.tweetCard-user {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  .tweetCard-user__img {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border: 1px solid white;
  }
  .tweetCard-user__name {
    margin: 0.25rem 0.5rem;
    font-family: $fontPrimary;
    color: $primaryColor;
    font-weight: 500;
  }
}

.tweetCard-text {
  display: flex;
  .tweetCard-text__content {
    font-size: 1rem;
    color: $primaryColor;
    font-family: $fontPrimary;
    font-weight: 400;
  }
}

.tweetCard-editing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .tweetCard-editing__input {
    margin: 0.5rem 0.5rem 0.5rem 0;
    font-size: 1rem;
    font-weight: 400;
    color: $primaryColor;
    flex-grow: 2;
    @include roundedInput();
    transition: all 0.1 ease-in;
  }
  .tweetCard-editing__input:focus {
    border: 2px solid $accentColor;
  }
  .tweetCard-editing__chars span {
    font-family: $fontPrimary;
  }
}
.editing__button {
  @include roundedInput();
  padding: 0.25rem 0.5rem;
}
.editing__button:first-of-type {
  margin: 0 4px 0 0;
}
.editing__button:hover {
  opacity: 0.5;
}

.tweetCard-attachment__img {
  object-fit: fill;
  max-height: 250px;
  max-width: 333px;
}
.tweetCard-attachment__img:hover {
  cursor: pointer;
}
