.home-title__container {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.home-title__heading {
  color: $primaryColor;
  font-family: $fontPrimary;
  font-size: 1.5rem;
}
.home-title__icon {
  color: $primaryColor;
  font-size: 1.5rem;
}
